<?xml version="1.0"?>
<!--
/**
 * @author Evgeniy Smirnov <evgenysmrnv@gmail.com>
 * @copyright Copyright © 2021. All rights reserved
 * @package EcDev_UserStatus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="userstatus" frontName="userstatus">
            <module name="EvDev_UserStatus"/>
        </route>
    </router>
</config>
